VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id

SUPABASE_URL=...      # https://xnngxmftysbtaqpzrxgt.supabase.co
APP_SECRET=...        # same secret you use locally


sb_secret_Ol9GWq4eGgIWogU21lsY5w_s534yyS1

sb_secret_Ol9GW··························

sb_secret_Ol9GWq4eGgIWogU21lsY5w_s534yyS1